.link{
    text-decoration: none;
    color:aliceblue;
}
.name{
    transition: 0.5s ease-in-out;
}
.name:hover{
    transition: 0.5s ease-in-out;
}

a{
    text-decoration: none;
}
.list-group-item{
    padding:1% 5%;
    background-size: 2%;
    background-position: 1% 50%;
    background-repeat: no-repeat;
    background-origin: padding-box;
	background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%2315aabf' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'></path></svg>");
}

.note-nav{
    margin-top:4%;
}
.note-nav img{
    height:3%;
    width:3%;
}

.header-h1 {
    text-align: center;
    margin-bottom: .5rem;
}
.header-h1 h1 {
    display: inline-block;
    position: relative;
    background: #0097a7;
    color: #fff;
    margin-bottom: 0;
    padding: .5rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.header-h1 h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1.5rem solid #fff;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
}
.header-h1 h1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1.5rem solid #fff;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
}
.blockquote{
    font-size:22px;
    text-align: justify;
}
.display-6{
    font-weight: 400;
    margin-top:2%;
    margin-left:1%;
}
.about-text{
    font-size:20px;
    text-align: justify;
    margin-left:1%;
}
.lead{
    font-weight: 400;
    font-size:24px;
}

.video{
    display: flex;
    justify-content: space-around;
    margin:0 5%;
}